
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/code-review/
/code-review.tar.gz
/github/
###< symfony/framework-bundle ###
